{
    "app_key": "your-twitter-api-key",
    "app_secret": "your-twitter-api-secret",
    "oauth_token": "your-twitter-oauth-token",
    "oauth_token_secret": "your-twitter-oauth-secret",
    "timeout": 10,
    "request_delay": 5,

    "accounts":[
        {"screen_name": "BBCPolitics", "file": "data/twitter/politics/twitter-bbc"},
        {"screen_name": "cnnpolitics", "file": "data/twitter/politics/twitter-cnn"},
        {"screen_name": "ReutersPolitics", "file": "data/twitter/politics/twitter-reuters"},
        {"screen_name": "foxnewspolitics", "file": "data/twitter/politics/twitter-foxnews"},
        {"screen_name": "nbcpolitics", "file": "data/twitter/politics/twitter-nbc"},
        {"screen_name": "abcpolitics", "file": "data/twitter/politics/twitter-abc"},

        {"screen_name": "BBCSport", "file": "data/twitter/sports/twitter-bbc"},
        {"screen_name": "WorldSportCNN", "file": "data/twitter/sports/twitter-cnn"},
        {"screen_name": "ReutersSports", "file": "data/twitter/sports/twitter-reuters"},
        {"screen_name": "foxsportsnews", "file": "data/twitter/sports/twitter-foxnews"},
        {"screen_name": "nbcsports", "file": "data/twitter/sports/twitter-nbc"},
        {"screen_name": "espn", "file": "data/twitter/sports/twitter-espn"},
        {"screen_name": "nydnsports", "file": "data/twitter/sports/twitter-nyd"},

        {"screen_name": "BBCTech", "file": "data/twitter/technology/twitter-bbc"},
        {"screen_name": "cnntech", "file": "data/twitter/technology/twitter-cnn"},
        {"screen_name": "ReutersTech", "file": "data/twitter/technology/twitter-reuters"},
        {"screen_name": "fxnscitech", "file": "data/twitter/technology/twitter-foxnews"},
        {"screen_name": "nbcnewstech", "file": "data/twitter/technology/twitter-nbc"},
        {"screen_name": "fttechnews", "file": "data/twitter/technology/twitter-ft"},
        {"screen_name": "techcrunch", "file": "data/twitter/technology/twitter-techcrunch"},
        {"screen_name": "forbestech", "file": "data/twitter/technology/twitter-forbes"}
    ]
}
